@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahianita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9ECF1;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.identity h1{
    color: #FF5F00;
    margin-bottom: 2px;
    font-family: 'Bahianita', cursive;
    font-size: 80px;
}

header nav ul{
    margin-top: 30px;
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

header nav ul li{
    margin-right: 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
}

header ul a{
    color: #fab000;
}

header nav ul li:last-child{
    margin-right: 0;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 50px 0 40px 0;
    color: #6C757D;
    line-height: 30px;
    font-size: 13px;
}

.quote::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: rgba(108, 117, 125, 0.38);
}

footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20vh;
    padding-bottom: 20px;
}

footer p {
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #414141;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

section .card{
    padding: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    background-color: #dbd5bc54;
    border-radius: 8px;
    border: 1px solid #6C757D;
    height: fit-content;
    width: 250px;
}

img{
    width: 100%;
    border-radius: 8px;
}

.title{
    color: #414141;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.title-card{
    font-weight: bold;
    color: #414141;
    margin-bottom: 10px;
}

.description {
    color: #414141;
}

.filter_tag {
    color: #6C757D;
    margin-top: 20px;
}

#filter_field {
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.input_ingredient {
    border: none;
    width: 100%;
}

.input_ingredient:focus {
    outline: none;
}

#form {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    margin-top: 10px;
}

.ingredientFiltered {
    display: flex;
    align-items: center;
    padding: 0 0 0 8px;
    background-color: rgba(108, 117, 125, 0.43);
    border-radius: 8px;
    margin-left: 10px;
}

.ingredientFiltered:first-child {
    margin-left: 0;
}

.deleteBtn {
    color: white;
    background-color: rgba(171, 52, 52, 0.87);
    padding: 8px;
    border-radius: 0 8px 8px 0;
    margin-left: 8px;
}